<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="navbar-brand logo">
    <a href="/checklists">
      <img src="/stylesheets/assets/company_logo.png" alt="Company Logo">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= typeof page !== 'undefined' && page === 'home' ? 'active' : ''%>">
        <a class="nav-link" href="/checklists">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MAR
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMar">
        <% if(navOptions.Marine){ %>
          <% navOptions["Marine"].forEach((option) => { %>
            <a class="dropdown-item" href="/checklists/<%=option.code%>"> <%= option.name %></a>
          <% }); %>
        <% } %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTec" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          TEC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownTec">
        <% if(navOptions.Technical){ %>
          <% navOptions["Technical"].forEach((option) => { %>
              <a class="dropdown-item" href="/checklists/<%=option.code%>"><%= option.name %></a>
          <% }); %>
        <% } %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmr" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EMR
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownEmr">
        <% if(navOptions.Emergency){ %>
          <% navOptions["Emergency"].forEach((option) => { %>
              <a class="dropdown-item" href="/checklists/<%=option.code%>"><%= option.name %></a>
          <% }); %>
        <% } %>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-rigth">
      <% if(currentUser) { %>
        <li class="mr-3"><a href="#">Signed in as <strong id="currentUser"><%= currentUser.username %>&nbsp;</strong></a></li>
      <% if(currentUser.isAdmin) { %>
          <li class="mr-3'"><a href="/settings">Settings&nbsp;</a></li>
      <% } %>
        <li class="mr-2"><a href="/logout">Logout</a><li>
      <% } %>
    </ul>

    <!-- USE THE BELOW SEARCH FORM FOR FUTURE UPGRADES  -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
